<li>Shaped a Docker-As-A-Service platform to handle WordPress hosting, DNS, security, backup, monitoring, and performance analysis.</li>
<li>Partnered with web designers providing AVADA, Elementor Pro, Thrive Themes, WooCommerce, and other WordPress plugins and themes caring services, offering a technical-free solution.</li>
<li>Adopted the Lean Startup method and published 20+ websites using customer feedback to find a profit model.</li>
<li>Integrated Shopify e-commerce platform and a low code iOS App, coded on Red Foundry Studio, dropping the iOS development cost from 25K to 5K USD.</li>
<li>Programed an iOS App in Objective-C and issued it to Apple App Store, gaining an understanding of mobile app life-cycle.</li>