<li class="list-inline-item"><span class="badge bg-secondary badge-pill">IoT</span></li>
<li class="list-inline-item"><span class="badge bg-secondary badge-pill">Private Network</span></li>
<li class="list-inline-item"><span class="badge bg-secondary badge-pill">LTE</span></li>
<li class="list-inline-item"><span class="badge bg-secondary badge-pill">5G</span></li>
<li class="list-inline-item"><span class="badge bg-secondary badge-pill">4G</span></li>
<li class="list-inline-item"><span class="badge bg-secondary badge-pill">Product Development</span></li>
<li class="list-inline-item"><span class="badge bg-secondary badge-pill">LoRa</span></li>
<li class="list-inline-item"><span class="badge bg-secondary badge-pill">TestFlight</span></li>
<li class="list-inline-item"><span class="badge bg-secondary badge-pill">App Annie</span></li>
<li class="list-inline-item"><span class="badge bg-secondary badge-pill">Google Play</span></li>