<li class="list-inline-item"><span class="badge bg-secondary badge-pill">VBA</span></li>
<li class="list-inline-item"><span class="badge bg-secondary badge-pill">Microsoft Project</span></li>
<li class="list-inline-item"><span class="badge bg-secondary badge-pill">Project Management</span></li>
<li class="list-inline-item"><span class="badge bg-secondary badge-pill">PMBOK</span></li>
<li class="list-inline-item"><span class="badge bg-secondary badge-pill">SCRUM</span></li>
<li class="list-inline-item"><span class="badge bg-secondary badge-pill">Jira</span></li>
<li class="list-inline-item"><span class="badge bg-secondary badge-pill">Branding</span></li>
<li class="list-inline-item"><span class="badge bg-secondary badge-pill">UX</span></li>
<li class="list-inline-item"><span class="badge bg-secondary badge-pill">Design</span></li>
<li class="list-inline-item"><span class="badge bg-secondary badge-pill">InVision</span></li>
<li class="list-inline-item"><span class="badge bg-secondary badge-pill">Automation</span></li>