<li class="list-inline-item"><span class="badge bg-secondary badge-pill">iOS</span></li>
<li class="list-inline-item"><span class="badge bg-secondary badge-pill">Android</span></li>
<li class="list-inline-item"><span class="badge bg-secondary badge-pill">Technical Sales</span></li>
<li class="list-inline-item"><span class="badge bg-secondary badge-pill">Presentation Techniques</span></li>
<li class="list-inline-item"><span class="badge bg-secondary badge-pill">Team Management</span></li>
<li class="list-inline-item"><span class="badge bg-secondary badge-pill">Blackberry</span></li>
<li class="list-inline-item"><span class="badge bg-secondary badge-pill">SFA</span></li>
<li class="list-inline-item"><span class="badge bg-secondary badge-pill">M2M</span></li>
<li class="list-inline-item"><span class="badge bg-secondary badge-pill">SMS Platforms</span></li>
<li class="list-inline-item"><span class="badge bg-secondary badge-pill">TDMA</span></li>
<li class="list-inline-item"><span class="badge bg-secondary badge-pill">GPRS</span></li>
<li class="list-inline-item"><span class="badge bg-secondary badge-pill">EDGE</span></li>
<li class="list-inline-item"><span class="badge bg-secondary badge-pill">3G</span></li>
<li class="list-inline-item"><span class="badge bg-secondary badge-pill">Cellular Modules</span></li>