<li class="list-inline-item"><span class="badge bg-secondary badge-pill">Java</span></li>
<li class="list-inline-item"><span class="badge bg-secondary badge-pill">JSP</span></li>
<li class="list-inline-item"><span class="badge bg-secondary badge-pill">HTML</span></li>
<li class="list-inline-item"><span class="badge bg-secondary badge-pill">CSS</span></li>
<li class="list-inline-item"><span class="badge bg-secondary badge-pill">PHP</span></li>
<li class="list-inline-item"><span class="badge bg-secondary badge-pill">Pearl</span></li>
<li class="list-inline-item"><span class="badge bg-secondary badge-pill">Visual Basic</span></li>
<li class="list-inline-item"><span class="badge bg-secondary badge-pill">MySQL</span></li>
<li class="list-inline-item"><span class="badge bg-secondary badge-pill">MS Access</span></li>
<li class="list-inline-item"><span class="badge bg-secondary badge-pill">Delphi</span></li>
<li class="list-inline-item"><span class="badge bg-secondary badge-pill">Linux Server</span></li>
<li class="list-inline-item"><span class="badge bg-secondary badge-pill">Command-Line</span></li>
<li class="list-inline-item"><span class="badge bg-secondary badge-pill">Shell Script</span></li>
<li class="list-inline-item"><span class="badge bg-secondary badge-pill">Firewall (Iptables)</span></li>
<li class="list-inline-item"><span class="badge bg-secondary badge-pill">Networking</span></li>
<li class="list-inline-item"><span class="badge bg-secondary badge-pill">DNS</span></li>
<li class="list-inline-item"><span class="badge bg-secondary badge-pill">Wi-Fi Radio</span></li>
<li class="list-inline-item"><span class="badge bg-secondary badge-pill">Nagios</span></li>
<li class="list-inline-item"><span class="badge bg-secondary badge-pill">Structured Cabling</span></li>
<li class="list-inline-item"><span class="badge bg-secondary badge-pill">Computer Management</span></li>
<li class="list-inline-item"><span class="badge bg-secondary badge-pill">Windows Management</span></li>
<li class="list-inline-item"><span class="badge bg-secondary badge-pill">Microsoft Office Management</span></li>
<li class="list-inline-item"><span class="badge bg-secondary badge-pill">Adobe Photoshop</span></li>
<li class="list-inline-item"><span class="badge bg-secondary badge-pill">Corel Draw</span></li>